<div id="main_div">
    <div id="user_interface">
        <h1 id="the_title">Eclérage Intelligent</h1>
        <div>
            <button id="b_auto">Automatique</button>
            <button id="b_manuelle">Manuelle</button>
        </div>
        <div>
            <button id="LED1">LED 1</button>
            <button id="LED2">LED 2</button>
            <button id="LED3">LED 3</button>
        </div>

        <div>
            <button id="nivau1"> 1 </button>
            <button id="nivau2"> 2 </button>
            <button id="nivau3"> 3 </button>
            <button id="nivau4"> 4 </button>
            <button id="nivau5"> 5 </button>
            <button id="nivau6"> 6 </button>
        </div>

    </div>
    

    
    <div id="history">
        <div>
            <table>
              <thead>
                  <tr>
                      <th>Numéro Led</th>
                      <th>Date d'allumage</th>
                      <th>Date d'éteite</th>
                      <th>Durée</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let h of history">
                      <td>{{ h.led }} </td>
                      <td>{{ h.date_allumage }} </td>
                      <td>{{ h.date_eteinte }} </td>
                  </tr>
              </tbody>
            </table>
            </div>
            <br/>
            Valeur actuelle :
            <li>Degré de luminosité : {{current?.degree_luminisite}}</li>
            <li>Couleur : {{current?.nuance}}</li>
    </div>
</div>

<!-- <ngx-gauge *ngIf=
"current" [value]=
"current.temperature ?? 0"> </ngx-gauge> -->