<div>
<table>
  <thead>
      <tr>
          <th>Numéro Led</th>
          <th>Date d'allumage</th>
          <th>Date d'éteite</th>
          <th>Durée</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let h of history">
          <td>{{ h.led }} </td>
          <td>{{ h.date_allumage }} </td>
          <td>{{ h.date_eteinte }} </td>
      </tr>
  </tbody>
</table>
</div>
<br/>
Valeur actuelle :
<li>Degré de luminosité : {{current?.degree_luminisite}}</li>
<li>Couleur : {{current?.nuance}}</li>
<!-- <ngx-gauge *ngIf=
"current" [value]=
"current.temperature ?? 0"> </ngx-gauge> -->