
  #main_div{
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  #user_interface{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin: 10px;
  }
  #user_interface div{
    margin: 10px;
  }
  #the_title{
    border-radius: 0.5rem;
    border: 1px;
    color: white;
    background-color:#4C516D;
    width: 50%;
    margin: 0 auto !important;
    padding: 4px;
  }
  #history{
    background-color: white;
    height: 100%;
    width: 50%;
  }
  #b_auto{
    border: none;
    background-color:rgb(14, 90, 66);

  }
  #b_manuelle{
    border: none;
    background-color:rgb(27, 15, 143);
 }

 #LED1{
  border: none;
  background-color:#4C516D;
}
#LED2{
  border: none;
  background-color:rgb(221, 239, 23);
}
#LED3{
  border: none;
  background-color:rgb(250, 40, 40);
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputcont {
  margin: 1em;
  display: flex;
  align-items: flex-end;
  height: 6em;
}
.outputcont {
  margin: 1em;
  display: flex;
  align-items: flex-end;
  height: 6em;
}

label {
  font-weight: bold;
  margin-right: 1em;
}

#color {
  height: 6em;
  width: 10em;
}

.m-10{
  margin: 10px;
}

/* LEDS */
.led-selected{
  background-color: brown !important;
  color: white !important;
}

.led-unselected{
  background-color: gray !important;
  color: black !important;
}

.text-white{
  color: white;
}

.mode-btn-selected {
  background-color: #518a8d !important;
  color: white !important;
}

.mode-btn-unselected {
  background-color: gray !important;
  color: black !important;
}
